# ThinLinc Options 

# All configuration variables available in the tlclient.conf file can
# be set from thinstation.conf.network by prefixing them with
# 'SESSION_n_THINLINC_CONFIG_', in the example below, we enable the
# local drive redirection for /mnt/usbdevice and /mnt/cdrom, turn on the
# sound redirection, and turn off the security question about running
# the client as root.

#SESSION_#_TYPE=thinlinc
#SESSION_#_THINLINC_SERVER=eudemo.thinlinc.com
#SESSION_#_THINLINC_OPTIONS="-l server -u user"
#SESSION_#_THINLINC_CONFIG_NFS_EXPORTS=/mnt/usbdevice,rw,/mnt/cdrom,ro
#SESSION_#_THINLINC_CONFIG_NFS_ENABLED=1
#SESSION_#_THINLINC_CONFIG_SOUND_ENABLED=1
#SESSION_#_THINLINC_CONFIG_NFS_ROOT_WARNING=0
